/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
/*
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
*/
    background-attachment:fixed;
    font-family:'Nunito', sans-serif;
    font-size:12px;
    margin:-24px;
    padding:0px;
    width:363px;
    height:auto;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
/*  content: '';*/
}

/*
body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #f8f7ee;
  background-color: #29324e;
}
*/

a {
  color: #f05451;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: relative;
  height: 160px;
  line-height: 180px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    line-height: 225px;
  }
  header h1 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
}

#hometab{
    overflow: none;
}

.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  width: 363px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 363px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 121px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 34px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #29324e;
}
/*
.cd-tabs-navigation a::before {
   icons 
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../img/vicons.svg");
  background-repeat: no-repeat;
}
*/
.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}

@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
/*  padding: 1.4em;*/
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: black ;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 3em;
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*TIME*/

.box1{
    text-align: center;
    position: absolute;
    z-index: 1;
    left:33%;
    top:400%;
    text-transform:none;
    color:antiquewhite;
}
img{
    position:absolute;
}



/*TIME*/
#time{
    font-size:500%;
    text-shadow: 2px 2px black;
}



.onoffswitch {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch2 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch4 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch5 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch6 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch7 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch8 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch9 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch10 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch11 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch12 {
    margin: 0 0 0 254px;
    width: 25%;
    position: relative; width: 85px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}


.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 27px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Alarm";
    padding-left: 10px;
    background-color: #34D104; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Alarm";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 55px;
    border: 2px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.sch1{
    width: 100%;
    margin: 20px 0 0 10px;
    display: inline-block;
}




div.toggler {
    text-align: left;
    color: white;
    padding: 8px;
    float: left;
    width:90%;
    background:#FF8980; 
    cursor:pointer; 
  

}


div.toggler div {
    text-align: left;
    float: left;
   padding: 10px 0 0 4px;
    display:none;
}

.sch2{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch3{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch4{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch5{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch6{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch7{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch8{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch9{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch10{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch11{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.sch12{
    width: 100%;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.scheduleList{
    background-color: #FF8980;
}
